#btn_gen {
  margin-top: 10px;
  
}
body{
  background-color:#EDDDD4;
  margin:auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align : center;
}
#container{
  height: 200px;
  padding: 20px;
  background-color: burlywood;
}
input{
  margin: 5px;
}